.navbar {
    background-color: #33333369;
    color: #fff;
    padding: 20px 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    background-image: url('../assets/logo.png');
    background-size: cover;
    background-position: center;
    width: 100px; 
    height: 60px;
    margin-left: 16px;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
  }
  
  .nav-links ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    margin-right: 10px;
  }
  
  .nav-links li a {
    color: #fff;
    text-decoration: none;
    padding: 40px;
  }
  
  .nav-links li a:hover {
    text-decoration: underline;
   
  }
  
  .signup-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .signup-button:hover {
    background-color: #0056b3;
  }
  