body {
  margin: 0;
  padding: 0;
  background-image: url('../assets/studying.jpg'); /* Relative path to the image */
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif; /* Add any desired font-family */
}

h1{
  color: rgb(255, 255, 255);
}
.container {
  max-width: 600px;
  margin: 0 auto;
  margin-left: 22rem;
  text-align: center;
  padding: 50px;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
}

button {
  padding: 10px 20px;
  background-color: #b6b6b6;
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #ccc;
}
